<img alt="" src="" />

**G25GXX3.10X. Aprendizaje Automático**

**Profesor: Borja González Seoane**

Curso 2025-26

# Preprocesamiento

In [1]:
# Importamos las librerías necesarias
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Entrada y Salida de Datos

In [2]:
input_data_file = "proy_supermercado_dev.csv"
output_data_file = "proy_supermercado_dev_preprocesado_base.csv"

# Carga de datos

In [3]:
datos = pd.read_csv(input_data_file)

display(datos)

,id,nombre,apellidos,anio_nacimiento,direccion,telefono1,telefono2,email,dni,tarjeta_credito_asociada,...,acepta_cmp3,acepta_cmp4,acepta_cmp5,acepta_cmp1,acepta_cmp2,reclama,coste_contacto,ingresos_contacto,respuesta,usuario_alta_datos
0,1337,7d93f9fd0c1549a787484938b5fd441e,314f2beefe854a088ba989849d9f582b,1976.0,179bd39f56aa41a3bf087d8084202d82,bece4cb835604de2a8a385e3bd561480,3b0ecbbf80b446d19df7b7f9ba156536,ddf67d7b8c59413aa51c7315923eedcd,69727656b12248c395eb03bab3838b66,1f6c603d0a2f47179b23309161be3dab,...,no,no,no,no,no,0.0,3.0,11.0,0.0,admin
1,1293,17335bc0807c4d34bddba1d3501003f0,0af8c7c582ce4bc9a27b49f5d23c72b6,1989.0,808f9db36aea4f32baf6d215970c87e7,31158671b1ed4d2095161231ab3617df,13f6a54848ea4eaab7bfc7549d6b75a3,75e5a05dc4734ec1a62ae22e3b1453e9,daefdcf76f434750bdff67914d1dbf61,f05b0f3589b749c38f7cefcc7b97efba,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,1.0,us_direccion_2
2,2285,80a4ce52e1654e8185306eaf389d7141,0f5f35e06a7a4420a9072d95fe3b9f9f,1986.0,f929c6d1e73d42359088715088f8234e,bd132521b7bc475198e1419d60633af8,e942ec3baa724b42a5fee8dd4b9971bd,b7cc3e2fd053468e86c67d38976e9ddf,eaf2bf938eaf42d2bed11923693343af,c3af7c02c9ca4c51abb7464111913fbe,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0,us_direccion_2
3,1009,5dac171198044d6aa025f40163768da6,2abf64bb020d47dca8f32be28f66187d,1953.0,f505e84bc2c7497fb796c7f6c3d95e8a,b24549d583314e4cb03003e286357f46,9b19c8de9b414562942f2216c8862138,af06590d30f046feb1f7c71060fcfc28,e9518b3651744d8f91d9c3431e24b940,03fa3cd44ca14336ad3101d92daa1f72,...,False,False,False,False,False,0.0,3.0,11.0,1.0,us_direccion_2
4,332,e639cc532a6442efae40ef974f13fb4f,46486419c7d54cc58f666ea4e8b32b6f,1982.0,bd91edec64d64af4ac09dcba68430a12,4fa2034885824f6e9028ec4fced8e652,77d0284404154374be658ea1089ea898,fff80193c0254b87a56e30d750f5a610,c3614a57a9644d1d910f76320d43632f,c504024462dc451e8dec03ad88e92096,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,11.0,1.0,us_direccion_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,1189,f6667af0ac7a4e30b6b2fc1286257dd6,3c8079a3335149179b3b1b19dc765d42,1966.0,9053090ec9d14338aaf99a2ebb1c5921,5782789a59c345a3aaadd97d19ea73e8,95225368227247d6860dae99dd4e4bce,6800e48ac6724785b4aa8c5db34196e3,6c873d5953f643e3976c3500aa43ccda,17f34bd224c44a7f9319d8259bf4fd49,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0,admin
1985,570,5a331c304e244ee9bb4eba4ef48b60bf,c67ce7e14b25465d98533bb60e5e12a0,NaN,3d47191e91d94c58960f4a8cdc2ba333,7f09c6f47b9f4ae4974ad6211698ea11,155b3429a2d34dc9bfd14cb4bebf5065,7ed5aebd0f3c4b509edc3b7d53b31b4d,97783aa4b74a44999e18b0c874b74f16,cdf9702afddd4e9a925b160492a05ab7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,us_direccion_2
1986,1124,a881077008f44146a030cdf2c45c5d38,5f6a27770a0d48efa136c5fdb8f788cd,1973.0,b9cf18c4226647a88798e362a71f523c,b9cf511bf7c140b59d5da1619ac393f1,d1d1d444162c405e8ce489dff002f950,3667a6fff2dc42ea9bf301350463c434,eb0732d9fea64fc083cdf3737cded3ec,dd4bce1f307249609d1230dba9755324,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0,us_direccion_2
1987,1814,44a90e0b5ad94a09bbb8d95270431adf,f86eecc01e5d4c5e961812f385a783d4,1984.0,6e6670c7d5a24232aab456b3ddb7909e,7f4116e1a0914ea7aa614817ad0f2b14,f1d40f3dd24540ef8ae2934a99ed2361,8f07a18181194eadb597b8d8a438ec1c,3e0a18667ca243e48542b79024f3e1aa,7c46d0df6c8c49ab947ca1b2933f7318,...,1.0,0.0,1.0,1.0,0.0,0.0,3.0,11.0,0.0,us_direccion_2
1988,220,54ff3bb2b29147b59a153ea33c61bf1a,b1d01e172aa74063a58941a982df4f5f,1973.0,3758a413ecfe4d79b7b24e0ba5e4947c,5b56b295a14948179678a9d15ab4f3aa,10ce4ee45173425caf59aff4e3df7493,9e75a28068ce4a27bd39f5b156b8e7b2,ca2de7b9e33944d6809413bc26eba10b,d13752014c554178bc2ab3ea1dcb8337,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,11.0,0.0,juan.perez

# Eliminación de datos irrelevantes

In [4]:
columnas_eliminar = [
    "id", "nombre", "apellidos", "direccion", "telefono1", "telefono2",
    "email", "dni", "tarjeta_credito_asociada", "usuario_alta_datos", "fecha_cliente", 
]
datos.drop(columns=columnas_eliminar, inplace=True, errors="ignore")

# Eliminación de Duplicados

In [5]:
datos = datos.drop_duplicates(keep='first')

# Transformamos año de nacimiento en edad

In [6]:
if "anio_nacimiento" in datos.columns:
    datos["edad"] = 2025 - datos["anio_nacimiento"]
    datos.drop(columns=["anio_nacimiento"], inplace=True)

# Datos nulos

In [7]:

# Realizamos imputación inteligente por grupos 
# Imputamos ingresos por estado civil
if 'ingresos' in datos.columns and 'estado_civil' in datos.columns:
    datos['ingresos'] = datos.groupby('estado_civil')['ingresos'].transform(
        lambda x: x.fillna(x.median())
    )
    # Backup: Si el grupo no tiene datos, usamos la mediana global
    datos['ingresos'] = datos['ingresos'].fillna(datos['ingresos'].median())

# Imputamos edad por nivel educativo
if 'edad' in datos.columns and 'educacion' in datos.columns:
    datos['edad'] = datos.groupby('educacion')['edad'].transform(
        lambda x: x.fillna(x.median())
    )
    datos['edad'] = datos['edad'].fillna(datos['edad'].median())

# Identificamos tipos de variables para imputación residual
variables_numericas = datos.select_dtypes(include=["float64", "int64"]).columns.tolist()
variables_categoricas = datos.select_dtypes(include=["object"]).columns.tolist()

variables_binarias = [
    col for col in variables_numericas
    if datos[col].dropna().nunique() == 2 and set(datos[col].dropna().unique()).issubset({0, 1})
]

# Realizamos imputación final para cualquier nulo restante
# Numéricas: mediana
for col in variables_numericas:
    if datos[col].isnull().sum() > 0:
        datos[col].fillna(datos[col].median(), inplace=True)

# Binarias: moda
for col in variables_binarias:
    if datos[col].isnull().sum() > 0:
        datos[col].fillna(datos[col].mode()[0], inplace=True)

# Categóricas: "Desconocido"
for col in variables_categoricas:
    if datos[col].isnull().sum() > 0:
        datos[col].fillna("Desconocido", inplace=True)

# Manejamos los atípicos

In [8]:
# Eliminamos outliers extremos manualmente
datos = datos[datos['edad'] <= 100]
datos = datos[datos['ingresos'] < 500000]
datos = datos.reset_index(drop=True)  

# Identificar outliers con IQR
columnas_outliers = ['ingresos', 'edad']
mask_total = pd.Series([True] * len(datos))

for col in columnas_outliers:
    if col in datos.columns:
        Q1 = datos[col].quantile(0.25)
        Q3 = datos[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Acumulamos condiciones
        mask_total &= (datos[col] >= lower_bound) & (datos[col] <= upper_bound)

# Aplicamos filtro
datos = datos[mask_total].reset_index(drop=True)  # ← Reset otra vez
print(f"Filas eliminadas por outliers: {len(mask_total) - mask_total.sum()}")

Filas eliminadas por outliers: 4

# Añadimos nuevas variables que nos serán útiles

In [9]:
columnas_gasto = [
    "gasto_vinos",
    "gasto_frutas",
    "gasto_carnes",
    "gasto_pescado",
    "gasto_dulces",
    "gasto_oro"
]

datos["gasto_total"] = datos[columnas_gasto].sum(axis=1)

In [10]:
# Proporción de gasto por categoría
datos['porcentaje_gasto_vinos'] = datos['gasto_vinos'] / (datos['gasto_total'] + 1)
datos['porcentaje_gasto_frutas'] = datos['gasto_frutas'] / (datos['gasto_total'] + 1)
datos['porcentaje_gasto_carnes'] = datos['gasto_carnes'] / (datos['gasto_total'] + 1)
datos['porcentaje_gasto_pescado'] = datos['gasto_pescado'] / (datos['gasto_total'] + 1)
datos['porcentaje_gasto_dulces'] = datos['gasto_dulces'] / (datos['gasto_total'] + 1)
datos['porcentaje_gasto_oro'] = datos['gasto_oro'] / (datos['gasto_total'] + 1)

In [11]:
datos["total_compras"] = (
    datos["num_compras_web"] +
    datos["num_compras_catalogo"] +
    datos["num_compras_tienda"]
)

datos["ticket_medio"] = datos["gasto_total"] / (datos["total_compras"] + 1)

In [12]:
# ===== PORCENTAJES HISTÓRICOS (VÁLIDOS) =====
# Estos representan el patrón de gasto histórico del cliente
# NO se calculan sobre Total_Gasto (que es el target)

# Suma de gastos históricos por categoría
gasto_historico_total = (
    datos['gasto_vinos'] + datos['gasto_frutas'] + datos['gasto_carnes'] +
    datos['gasto_pescado'] + datos['gasto_dulces'] + datos['gasto_oro']
)

# Solo calculamos si hay gasto histórico registrado
mask_gasto = gasto_historico_total > 0

# Porcentajes históricos de preferencia
datos['pct_hist_vinos'] = 0.0
datos['pct_hist_frutas'] = 0.0
datos['pct_hist_carnes'] = 0.0
datos['pct_hist_pescado'] = 0.0
datos['pct_hist_dulces'] = 0.0
datos['pct_hist_oro'] = 0.0

datos.loc[mask_gasto, 'pct_hist_vinos'] = datos.loc[mask_gasto, 'gasto_vinos'] / gasto_historico_total[mask_gasto]
datos.loc[mask_gasto, 'pct_hist_frutas'] = datos.loc[mask_gasto, 'gasto_frutas'] / gasto_historico_total[mask_gasto]
datos.loc[mask_gasto, 'pct_hist_carnes'] = datos.loc[mask_gasto, 'gasto_carnes'] / gasto_historico_total[mask_gasto]
datos.loc[mask_gasto, 'pct_hist_pescado'] = datos.loc[mask_gasto, 'gasto_pescado'] / gasto_historico_total[mask_gasto]
datos.loc[mask_gasto, 'pct_hist_dulces'] = datos.loc[mask_gasto, 'gasto_dulces'] / gasto_historico_total[mask_gasto]
datos.loc[mask_gasto, 'pct_hist_oro'] = datos.loc[mask_gasto, 'gasto_oro'] / gasto_historico_total[mask_gasto]

In [13]:
datos["ingresos_x_edad"] = datos["ingresos"] * datos["edad"]
datos["totalcompras_x_ingresos"] = datos["total_compras"] * datos["ingresos"]
datos["compras_per_capita"] = datos["total_compras"] / (datos["hijos_casa"] + datos["adolescentes_casa"] + 1)

In [14]:
datos['ratio_recencia_edad'] = datos['recencia'] / datos['edad']

In [15]:
datos['ratio_online_offline'] = (datos['num_compras_web'] + datos['num_compras_catalogo']) / (datos['num_compras_tienda'] + 1)

In [16]:
datos['intensidad_compra'] = datos['total_compras'] / (datos['recencia'] + 1)

In [17]:
datos.head()

,educacion,estado_civil,ingresos,hijos_casa,adolescentes_casa,recencia,gasto_vinos,gasto_frutas,gasto_carnes,gasto_pescado,...,pct_hist_carnes,pct_hist_pescado,pct_hist_dulces,pct_hist_oro,ingresos_x_edad,totalcompras_x_ingresos,compras_per_capita,ratio_recencia_edad,ratio_online_offline,intensidad_compra
0,Graduation,Married,53359.0,1.0,1.0,4.0,173.0,4.0,30.0,3.0,...,0.116732,0.011673,0.023346,0.159533,2614591.0,533590.0,3.333333,0.081633,1.200000,2.000000
1,Graduation,Single,21474.0,1.0,0.0,0.0,6.0,16.0,24.0,11.0,...,0.263736,0.120879,0.000000,0.373626,773064.0,128844.0,3.000000,0.000000,1.333333,6.000000
2,Graduation,Divorced,41411.0,0.0,0.0,11.0,37.0,32.0,38.0,11.0,...,0.273381,0.079137,0.021583,0.129496,1615029.0,289877.0,7.000000,0.282051,0.600000,0.583333
3,PhD,Together,64504.0,1.0,2.0,81.0,986.0,36.0,168.0,16.0,...,0.127854,0.012177,0.000000,0.082192,4644288.0,1161072.0,4.500000,1.125000,2.800000,0.219512
4,Graduation,Married,65169.0,0.0,0.0,23.0,1074.0,0.0,69.0,0.0,...,0.058032,0.000000,0.000000,0.038688,2802267.0,1759563.0,27.000000,0.534884,1.000000,1.125000

# Eliminamos columnas constantes

In [18]:
columnas_constantes = ["coste_contacto", "ingresos_contacto"]
for col in columnas_constantes:
    if col in datos.columns and datos[col].nunique() == 1:
        datos.drop(columns=[col], inplace=True)

# Transformamos a Binario

In [19]:
columnas_campanas = ["acepta_cmp1", "acepta_cmp2", "acepta_cmp3", "acepta_cmp4", "acepta_cmp5"]

for col in columnas_campanas:
    if col in datos.columns:
        datos[col] = datos[col].astype(str).str.lower().replace({
            "no": 0, "si": 1, "nan": 0, "none": 0, "yes": 1
        })
        datos[col] = pd.to_numeric(datos[col], errors="coerce").fillna(0).astype(int)

In [20]:
datos['campanas_totales'] = (datos['acepta_cmp1'] + datos['acepta_cmp2'] + 
                              datos['acepta_cmp3'] + datos['acepta_cmp4'] + datos['acepta_cmp5'])

# Transformamos en ordinal la columna de educación

In [21]:
educacion_mapping = {
    "Basic": 1,
    "2n Cycle": 2,
    "Graduation": 3,
    "Master": 4,
    "PhD": 5,
    "desconocido": 0
}

# Aplicar mapeo siguiendo tu misma estructura
datos["educacion"] = datos["educacion"].map(educacion_mapping)

datos["educacion"] = datos["educacion"].fillna(0)

# Transformamos a one-hot-encoding

In [22]:
columnas_a_codificar = ["estado_civil"]
columnas_a_codificar = [c for c in columnas_a_codificar if c in datos.columns]

datos = pd.get_dummies(datos, columns=columnas_a_codificar, drop_first=True)

# Convertimos booleanos a numéricos

In [23]:
columnas_booleanas = datos.select_dtypes(include=['bool']).columns
datos[columnas_booleanas] = datos[columnas_booleanas].astype(int)
display(datos)

,educacion,ingresos,hijos_casa,adolescentes_casa,recencia,gasto_vinos,gasto_frutas,gasto_carnes,gasto_pescado,gasto_dulces,...,intensidad_compra,campanas_totales,estado_civil_Alone,estado_civil_Desconocido,estado_civil_Divorced,estado_civil_Married,estado_civil_Single,estado_civil_Together,estado_civil_Widow,estado_civil_YOLO
0,3.0,53359.0,1.0,1.0,4.0,173.0,4.0,30.0,3.0,6.0,...,2.000000,0,0,0,0,1,0,0,0,0
1,3.0,21474.0,1.0,0.0,0.0,6.0,16.0,24.0,11.0,0.0,...,6.000000,1,0,0,0,0,1,0,0,0
2,3.0,41411.0,0.0,0.0,11.0,37.0,32.0,38.0,11.0,3.0,...,0.583333,0,0,0,1,0,0,0,0,0
3,5.0,64504.0,1.0,2.0,81.0,986.0,36.0,168.0,16.0,0.0,...,0.219512,0,0,0,0,0,0,1,0,0
4,3.0,65169.0,0.0,0.0,23.0,1074.0,0.0,69.0,0.0,0.0,...,1.125000,4,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1812,3.0,19419.0,1.0,0.0,76.0,2.0,14.0,28.0,16.0,3.0,...,0.090909,0,0,0,0,1,0,0,0,0
1813,3.0,43602.0,1.0,1.0,45.0,19.0,5.0,12.0,10.0,3.0,...,0.130435,0,0,0,0,0,1,0,0,0
1814,3.0,24639.0,1.0,1.0,3.0,20.0,3.0,16.0,0.0,4.0,...,1.500000,0,0,0,0,1,0,0,0,0
1815,3.0,90000.0,0.0,0.0,91.0,675.0,144.0,133.0,94.0,192.0,...,0.184783,3,0,0,0,1,0,0,0,0
1816,5.0,54222.0,0.0,1.0,98.0,199.0,12.0,31.0,3.0,12.0,...,0.111111,0,0,0,0,1,0,0,0,0

# Volcamos datos preprocesados en el csv

In [24]:
datos.to_csv(output_data_file, index=False)